body {
    margin: 0;
    padding: 0;
//  background:  #000;
}


div {
//  background:  #000;
    background-color:#4CAF50;
  margin: 0;
  padding: 0;
      width: 100%;

}


aside {
  float: right;
  width: 15%;
  padding:1vw;
//  background-color:#2196F3;
}

article {
  background-color:#2196F3;
  float: left;
  padding:1vw;
  width: 31%;
}
nav {
   float: left;
   padding:1em;
    width: 15%;
    background-color:#4CAF50;
}

footer {
    background-color:#f1f1f1;
    display: block;
   clear: left;
}

@media only screen and (max-width:800px) {
  article {
    clear: left;
    width: 100%;
  }


}

.destacado{
  color:red;
}

.impar{
  color:red;
  background-color:#f1f1f1;
}
