div.fruta {
//	width : 15vw;
//	height : 15vw ;
	border: 1vw solid black ;
	background-color : red ;
	margin : 1vw;
	padding : 2vw;
	float : left;
}
div.pie{
	width : 50%;
//	float : none;
	clear : left;
	background-color : green ;
}
img{
	height : 10vw ;
}