h1{
  color:blue;
}

.prod{
    border : 1vw aqua solid;
    float : left;
    margin : 1vw;
    align : center;
  	padding : 2vw;
//    width: 40vw;
}

.boton{
  clear : left;
  width: 100%;
}

li{
  list-style-type:none;

}
